/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts/vendor
/public/mix-manifest.json
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
user-customizations.sh
user-vagrant-customizations.rb
**/.DS_Store